<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<tr><td>姓名：</td><td>{$name}</td></tr>
		<tr><td>年龄：</td><td>{$age}</td></tr>
		<tr><td>兵器：</td><td>{$weapon}</td></tr>
	</table>
	<table>
		<tr><td>姓名：</td><td>{$zf.name}</td></tr>
		<tr><td>年龄：</td><td>{$zf.age}</td></tr>
		<tr><td>兵器：</td><td>{$zf.weapon}</td></tr>
	</table>
	<table>
		<tr><td>姓名：</td><td>{$gy[0]}</td></tr>
		<tr><td>年龄：</td><td>{$gy['age']}</td></tr>
		<tr><td>兵器：</td><td>{$gy['weapon']}</td></tr>
	</table>
</body>
</html>