{config_load file='site.conf'}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>模板3种变量来源详解</title>
</head>
<body>
	<pre>
		当$smarty.开头的标签，当成系统变量来解析，如$smarty.get.id被解析成：
		&lt?php echo $_GET['id']; ?&gt
		保留变量：$smarty.post, $smarty.session, $smarty.cookies
	</pre>
	<h2>{$name}</h2>
	<p>{$poen}</p>
	<p>{$id}</p>
	<p>{$smarty.get.id}</p>
	<p>{$smarty.const.ZMLM}</p>
	
	<div>
		<p>
			{$smarty.config.site}
		</p>
		<p>
			用#号也能读配置文件的值
			{#hao#}
		</p>
		<p>
			电话：{#tel#}
		</p>
	</div>
</body>
</html>